@import '../../scss/variables';

.btn {
  position: relative;
  display: inline-block;
  padding: 0.7rem 1rem;
  border: solid 1px transparent;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.25s;

  &:hover {
    opacity: 0.8;
  }

  &Primary {
    background-color: $color-primary;
    color: #fff;
  }

  &Secondary {
    background-color: #fff;
    border: 1px solid $color-primary;
    color: $color-primary;
    transition: background-color 0.25s, color 0.25s, opacity 0.25s;

    &:link,
    &:visited {
      color: $color-primary;
    }

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &Submit {
    @extend .btnPrimary;

    width: 100%;
  }
}
