.item {
  margin-bottom: 1rem;

  @media (min-width: 1200px) {
    flex: 1 1 calc(50% - 2 * 0.7rem);
    margin: 0 0.7rem 1rem 0.7rem;
  }
}

.link {
  display: block;

  padding: 0.2rem;
  box-shadow: 0 0 15px #999;
  border-radius: 10px;

  @media (min-width: 768px) {
    display: flex;
  }

  color: #333;
  border: 1px solid transparent;
  transition: transform 0.25s, opacity 0.25s, border-color 0.25s;

  &:hover,
  &:active {
    transform: scale(1.03);
    opacity: 0.8;
    color: #333;
    border-color: #e67e22;
  }
}

.top {
  padding: 1rem 0.5rem;

  @media (min-width: 576px) {
    display: flex;
    padding: 1rem;
  }

  &Thumb {
    text-align: center;
  }

  &Img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &Texts {
    padding-left: 1rem;
  }
}
