.nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px #aaa;

  &List {
    display: flex;
    justify-content: center;
  }

  &Item {
    margin: 0 0.7rem;
  }

  &Link {
    &:link,
    &:visited {
      color: #333;
    }
  }
}
