.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 350px;
  height: 100%;
  padding-top: 100px;
  background-color: #fff;
  box-shadow: 0 0 15px #999;

  animation: sidebarSlideIn 0.6s forwards;

  &Out {
    animation: sidebarSlideOut 0.6s forwards;
  }
}

.inner {
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes sidebarSlideIn {
  0% {
    left: -350px;
  }

  100% {
    left: 0;
  }
}

@keyframes sidebarSlideOut {
  0% {
    left: 0;
  }

  100% {
    left: -350px;
  }
}
