@import '../../scss/variables.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 320px;
  height: 100%;
  padding-top: 100px;
  background-color: #fff;
  box-shadow: 0 0 15px #999;

  animation: sidebarSlideIn 0.3s forwards;

  &Out {
    animation: sidebarSlideOut 0.3s forwards;
  }
}

.inner {
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nonAuthBox {
  padding: 1rem;

  &Link {
    color: $color-primary;
  }
}

.emptySidebar {
  padding: 0 15px;
  text-align: center;
}

@keyframes sidebarSlideIn {
  0% {
    left: -320px;
  }

  100% {
    left: 0;
  }
}

@keyframes sidebarSlideOut {
  0% {
    left: 0;
  }

  100% {
    left: -320px;
  }
}
