/* $primary: pink; */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: 'Lato', sans-serif;
  min-height: 101vh;
}

a {
  &:link,
  &:visited {
    color: #ddd;
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

input {
  padding: 0.8rem;
  border: 1px solid #aaa;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  font-size: 0.9rem;

  transition: all 0.25s;

  &:focus {
    outline: 0;
    border-color: #e67e22;
    background-color: #eee;
    color: #000;
  }
}

.container {
  max-width: 80vw;
}
